.Container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Body {
  min-height: 50vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
