.Banner {
  text-align: center;
  height: 8%;
  width: 85%;
  min-width: 520px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 5px;
}

.ButtonContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
