.Item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Item img {
  max-height: 30px;
  max-width: 30px;
  margin-top: 5px;
}


.SubItem1 {
  padding: 2px;
  text-align: right;
}

.SubItem2 {
  text-align: left;
  padding: 2px;
}
